body {
    padding:0.2em;
    background-color:dimgray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div {
	justify-content: center;
    display:inline-block;
}
.row {
    height: 10%;
    display:block;
    margin: 0.1% 0;
}
.col-3 {
    width: 24%;
    vertical-align: center;
    text-align: center;
    margin:0.1%;
    padding:0.1%;
    border:0;
    border-radius: 0.6em;
}
.custom-column {
    height: 10em;
    width: 24%;
    vertical-align: middle;
    text-align: center;
    margin:0.1%;
    padding:0.1%;
    border:0;
    border-radius: 0.6em;
}
#form {
    position:relative;
    text-align: center;
    display:inline-block;
    background-color: chartreuse;
    height: 30%;
    width: 50%;
    /*margin:0 auto;*/
    margin: 0 23% auto;
    padding:0.3em;
    border-radius:0.5em;
}
.light-blue {
    color:aquamarine;
    background-color:darkgray;
}
.green {
    color:forestgreen;
    background-color:aliceblue;
}
.yellow {
    color:yellow;
    background-color:blue;
}
.red {
    color:red;
    background-color:beige;
}
@media only screen and (max-width:768px) {
    .custom-column {
        width: 48%;
    }
}
@media only screen and (max-width:524px) {
    .custom-column {
        width: 100%;
    }
}